---
http_interactions:
- request:
    method: post
    uri: http://developer.echonest.com/api/v4/track/upload?api_key=BNOAEBT3IZYZI6WXI&filetype=mp3&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b756f588c500d1f36868111e5e3185c70788dcd9"'
      X-Worker-Node:
      - 2902a:22872
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "track": {"id": "TRTLKZV12E5AC92E11", "status": "pending"}}}'
  recorded_at: Wed, 13 Nov 2013 01:26:37 GMT
recorded_with: VCR 2.7.0
